.version.index /* version checker */
{
	color: #0000F6;
	background-color: #810F17;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1366px;
	min-height: 4917.450000000031px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 1px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -189px;
	padding-bottom: 21px;
	width: 0.01px;
}

#pu165
{
	width: 0.01px;
	margin-left: -58px;
}

#u165
{
	z-index: 3;
	width: 1366px;
	height: 77px;
	margin-right: -10000px;
	margin-top: 51px;
}

#u166
{
	z-index: 4;
	width: 537px;
	height: 77px;
	margin-right: -10000px;
	left: 20px;
}

#pu1823
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 80px;
}

#u1823
{
	z-index: 115;
	width: 166px;
	margin-right: -10000px;
}

#menuu176
{
	z-index: 5;
	width: 683px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 642px;
}

#u177
{
	width: 135px;
	min-height: 62px;
	margin-right: -10000px;
}

#u178
{
	width: 135px;
	padding-bottom: 38px;
}

#u178:hover
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u178:active
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u181-4
{
	width: 135px;
	min-height: 24px;
	margin-right: -10000px;
	top: 19px;
}

#u178:hover #u181-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 135px;
	margin: 0px -10000px 0px 0px;
}

#u178:active #u181-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 135px;
	margin: 0px -10000px 0px 0px;
}

#u184
{
	width: 135px;
	min-height: 62px;
	margin-right: -10000px;
	left: 137px;
}

#u185
{
	width: 135px;
	padding-bottom: 38px;
}

#u178.MuseMenuActive,#u185:hover
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u185:active
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u187-4
{
	width: 121px;
	min-height: 24px;
	margin-right: -10000px;
	top: 19px;
}

#u185:hover #u187-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 121px;
	margin: 0px -10000px 0px 0px;
}

#u185:active #u187-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 121px;
	margin: 0px -10000px 0px 0px;
}

#u185.MuseMenuActive #u187-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 121px;
	margin: 0px -10000px 0px 0px;
}

#u188
{
	z-index: 18;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 24px;
	left: 121px;
}

#u185:hover #u188
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u185:active #u188
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u185.MuseMenuActive #u188
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u189
{
	width: 120px;
	top: 62px;
}

#u190
{
	width: 120px;
}

#u190:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u214
{
	width: 118px;
	padding-bottom: 34px;
	margin-right: -10000px;
}

#u214:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u216-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 17px;
	left: 2px;
}

#u214:hover #u216-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u757
{
	width: 118px;
	padding-bottom: 34px;
	margin-right: -10000px;
}

#u214.MuseMenuActive,#u757:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u760-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 17px;
	left: 2px;
}

#u214.MuseMenuActive #u216-4,#u757:hover #u760-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u772
{
	width: 118px;
	padding-bottom: 34px;
	margin-right: -10000px;
}

#u757.MuseMenuActive,#u772:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u775-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 17px;
	left: 2px;
}

#u757.MuseMenuActive #u760-4,#u772:hover #u775-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u785
{
	width: 118px;
	padding-bottom: 34px;
	margin-right: -10000px;
}

#u772.MuseMenuActive,#u785:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u787-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 17px;
	left: 2px;
}

#u772.MuseMenuActive #u775-4,#u785:hover #u787-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u798
{
	width: 118px;
	padding-bottom: 34px;
	margin-right: -10000px;
}

#u785.MuseMenuActive,#u798:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u800-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 17px;
	left: 2px;
}

#u785.MuseMenuActive #u787-4,#u798:hover #u800-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u811
{
	width: 118px;
	padding-bottom: 34px;
	margin-right: -10000px;
}

#u798.MuseMenuActive,#u811:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u812-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 17px;
	left: 2px;
}

#u798.MuseMenuActive #u800-4,#u811:hover #u812-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u822
{
	width: 118px;
	padding-bottom: 34px;
	margin-right: -10000px;
}

#u811.MuseMenuActive,#u822:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u824-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 17px;
	left: 2px;
}

#u811.MuseMenuActive #u812-4,#u822:hover #u824-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u835
{
	width: 118px;
	padding-bottom: 34px;
	margin-right: -10000px;
}

#u822.MuseMenuActive,#u835:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u838-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 17px;
	left: 2px;
}

#u822.MuseMenuActive #u824-4,#u835:hover #u838-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u848
{
	width: 118px;
	padding-bottom: 34px;
	margin-right: -10000px;
}

#u835.MuseMenuActive,#u848:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u851-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 17px;
	left: 2px;
}

#u835.MuseMenuActive #u838-4,#u848:hover #u851-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u861
{
	width: 118px;
	padding-bottom: 34px;
	margin-right: -10000px;
}

#u848.MuseMenuActive,#u861:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u863-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 17px;
	left: 2px;
}

#u848.MuseMenuActive #u851-4,#u861:hover #u863-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u213,#u756,#u769,#u782,#u795,#u808,#u821,#u834,#u847,#u860,#u873
{
	width: 120px;
}

#u874
{
	width: 118px;
	padding-bottom: 34px;
	margin-right: -10000px;
}

#u861.MuseMenuActive,#u874:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u874.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u876-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 17px;
	left: 2px;
}

#u861.MuseMenuActive #u863-4,#u874:hover #u876-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u874.MuseMenuActive #u876-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u192
{
	width: 135px;
	min-height: 62px;
	margin-right: -10000px;
	left: 274px;
}

#u195
{
	width: 135px;
	padding-bottom: 38px;
}

#u185.MuseMenuActive,#u195:hover
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u195:active
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u196-4
{
	width: 135px;
	min-height: 24px;
	margin-right: -10000px;
	top: 19px;
}

#u178.MuseMenuActive #u181-4,#u195:hover #u196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 135px;
	margin: 0px -10000px 0px 0px;
}

#u195:active #u196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 135px;
	margin: 0px -10000px 0px 0px;
}

#u199
{
	width: 135px;
	min-height: 62px;
	margin-right: -10000px;
	left: 411px;
}

#u202
{
	width: 135px;
	padding-bottom: 38px;
}

#u195.MuseMenuActive,#u202:hover
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u202:active
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u203-4
{
	width: 135px;
	min-height: 24px;
	margin-right: -10000px;
	top: 19px;
}

#u195.MuseMenuActive #u196-4,#u202:hover #u203-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 135px;
	margin: 0px -10000px 0px 0px;
}

#u202:active #u203-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 135px;
	margin: 0px -10000px 0px 0px;
}

#u206
{
	width: 135px;
	min-height: 62px;
	margin-right: -10000px;
	left: 548px;
}

#u209
{
	width: 135px;
	padding-bottom: 38px;
}

#u202.MuseMenuActive,#u209:hover
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u209:active
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u209.MuseMenuActive
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u211-4
{
	width: 135px;
	min-height: 24px;
	margin-right: -10000px;
	top: 19px;
}

#u202.MuseMenuActive #u203-4,#u209:hover #u211-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 135px;
	margin: 0px -10000px 0px 0px;
}

#u209:active #u211-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 135px;
	margin: 0px -10000px 0px 0px;
}

#u209.MuseMenuActive #u211-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 135px;
	margin: 0px -10000px 0px 0px;
}

#pu1829
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 3px;
}

#u1829
{
	z-index: 2;
	width: 1326px;
	padding-bottom: 88px;
	margin-right: -10000px;
}

#u1819
{
	z-index: 114;
	width: 1120px;
	margin-right: -10000px;
	margin-top: 89px;
	left: 103px;
}

#u1819_position_content
{
	padding-top: 34px;
	padding-bottom: 77px;
}

#u884-4
{
	z-index: 117;
	width: 1099px;
	min-height: 60px;
	border-width: 3px;
	border-style: solid;
	border-color: #8C6239;
	background-color: transparent;
	color: #8C6239;
	font-size: 48px;
	text-align: center;
	line-height: 58px;
	font-family: Times, Times New Roman, Georgia, serif;
	font-weight: bold;
	margin-left: 9px;
	position: relative;
}

#u1055-4
{
	z-index: 260;
	width: 1080px;
	min-height: 28px;
	background-color: transparent;
	font-size: 17px;
	text-align: center;
	line-height: 20px;
	left: -4px;
	margin-top: 22px;
	position: relative;
}

#pu885
{
	width: 0.01px;
	margin-left: 28px;
	margin-top: 19px;
}

#u885
{
	z-index: 121;
	width: 488px;
	height: 420px;
	border-width: 3px;
	border-style: solid;
	border-color: #8C6239;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	background: #946428 url("../images/pir.jpg") no-repeat center center;
	background-size: contain;
}

#u887
{
	z-index: 129;
	width: 486px;
	height: 418px;
	border-width: 3px;
	border-style: solid;
	border-color: #8C6239;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 576px;
	background: #875E2A url("../images/ir%20security.jpg") no-repeat center center;
	background-size: contain;
}

#pu932
{
	width: 0.01px;
	margin-left: 144px;
	margin-top: 10px;
}

#u932
{
	z-index: 136;
	width: 223px;
	background-color: #D4145A;
	border-radius: 10px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u932:hover
{
	background-color: #FF0000;
	width: 223px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
}

#u932.MuseLinkActive
{
	background-color: #0000FF;
	width: 223px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
}

#u933-4
{
	z-index: 137;
	width: 187px;
	min-height: 40px;
	background-color: transparent;
	border-radius: 10px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 18px;
}

#u934
{
	z-index: 141;
	width: 236px;
	background-color: #D4145A;
	border-radius: 10px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	left: 616px;
}

#u935-4
{
	z-index: 142;
	width: 198px;
	min-height: 39px;
	background-color: transparent;
	border-radius: 10px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 19px;
}

#pu900
{
	width: 0.01px;
	margin-left: 29px;
	margin-top: 65px;
}

#u900
{
	z-index: 122;
	width: 488px;
	height: 420px;
	border-width: 3px;
	border-style: solid;
	border-color: #8C6239;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: -1px;
	background: #9E6E3A url("../images/dark.jpg") no-repeat center center;
	background-size: contain;
}

#u901
{
	z-index: 130;
	width: 486px;
	height: 418px;
	border-width: 3px;
	border-style: solid;
	border-color: #8C6239;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 575px;
	background: #B78430 url("../images/auto%20water.jpg") no-repeat center center;
	background-size: contain;
}

#pu936
{
	width: 0.01px;
	margin-left: 152px;
	margin-top: 17px;
}

#u936
{
	z-index: 146;
	width: 223px;
	background-color: #D4145A;
	border-radius: 10px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
}

#u937-4
{
	z-index: 147;
	width: 187px;
	min-height: 40px;
	background-color: transparent;
	border-radius: 10px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 18px;
}

#u938
{
	z-index: 151;
	width: 236px;
	background-color: #D4145A;
	border-radius: 10px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	left: 608px;
}

#u939-4
{
	z-index: 152;
	width: 198px;
	min-height: 39px;
	background-color: transparent;
	border-radius: 10px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 19px;
}

#pu914
{
	width: 0.01px;
	margin-left: 28px;
	margin-top: 56px;
}

#u914
{
	z-index: 123;
	width: 488px;
	height: 420px;
	border-width: 3px;
	border-style: solid;
	border-color: #8C6239;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: -1px;
	background: #7C4C0D url("../images/52545256_2502468283156833_5118866276776673280_n.jpg") no-repeat center center;
	background-size: contain;
}

#u915
{
	z-index: 131;
	width: 487px;
	height: 418px;
	border-width: 3px;
	border-style: solid;
	border-color: #8C6239;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 576px;
	background: #C49525 url("../images/12v%20power.jpg") no-repeat center center;
	background-size: contain;
}

#pu940
{
	width: 0.01px;
	margin-left: 152px;
	margin-top: 10px;
}

#u940
{
	z-index: 156;
	width: 223px;
	background-color: #D4145A;
	border-radius: 10px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u940:hover
{
	background-color: #FF0000;
	width: 223px;
	min-height: 0px;
	margin: 6px -10000px 0px 0px;
}

#u941-4
{
	z-index: 162;
	width: 187px;
	min-height: 40px;
	background-color: transparent;
	border-radius: 10px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 18px;
}

#u942
{
	z-index: 186;
	width: 236px;
	background-color: #D4145A;
	border-radius: 10px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	left: 589px;
}

#u943-4
{
	z-index: 191;
	width: 198px;
	min-height: 39px;
	background-color: transparent;
	border-radius: 10px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 19px;
}

#pu1009
{
	width: 0.01px;
	margin-left: 27px;
	margin-top: 40px;
}

#u1009
{
	z-index: 124;
	width: 488px;
	height: 420px;
	border-width: 3px;
	border-style: solid;
	border-color: #8C6239;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: -1px;
	background: #E29D00 url("../images/52602710_308713683123493_8679557150579621888_n.jpg") no-repeat center center;
	background-size: contain;
}

#u1012
{
	z-index: 132;
	width: 487px;
	height: 418px;
	border-width: 3px;
	border-style: solid;
	border-color: #8C6239;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 577px;
	background: #BF7802 url("../images/53160330_289607518399644_6098170291152748544_n.jpg") no-repeat center center;
	background-size: contain;
}

#u1010
{
	z-index: 157;
	width: 223px;
	background-color: #D4145A;
	border-radius: 10px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
}

#u1011-4
{
	z-index: 166;
	width: 187px;
	min-height: 40px;
	background-color: transparent;
	border-radius: 10px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 18px;
}

#u1014
{
	z-index: 187;
	width: 236px;
	background-color: #D4145A;
	border-radius: 10px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	left: 589px;
}

#u1013-4
{
	z-index: 195;
	width: 198px;
	min-height: 39px;
	background-color: transparent;
	border-radius: 10px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 19px;
}

#pu1027
{
	width: 0.01px;
	margin-left: 28px;
	margin-top: 45px;
}

#u1027
{
	z-index: 125;
	width: 488px;
	border-width: 3px;
	border-style: solid;
	border-color: #8C6239;
	background-color: #E5A001;
	padding-bottom: 131px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: -1px;
}

#u1033-7
{
	z-index: 211;
	width: 365px;
	min-height: 149px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 141px;
	left: 64px;
}

#u1030
{
	z-index: 133;
	width: 487px;
	border-width: 3px;
	border-style: solid;
	border-color: #8C6239;
	background-color: #E5A001;
	padding-bottom: 130px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 576px;
}

#u1038-7
{
	z-index: 218;
	width: 386px;
	min-height: 148px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 53px;
}

#pu1010,#pu1028
{
	width: 0.01px;
	margin-left: 152px;
	margin-top: 15px;
}

#u1028
{
	z-index: 158;
	width: 223px;
	background-color: #D4145A;
	border-radius: 10px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
}

#u1029-4
{
	z-index: 170;
	width: 187px;
	min-height: 40px;
	background-color: transparent;
	border-radius: 10px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 18px;
}

#u1031
{
	z-index: 188;
	width: 236px;
	background-color: #D4145A;
	border-radius: 10px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	left: 589px;
}

#u1032-4
{
	z-index: 199;
	width: 198px;
	min-height: 39px;
	background-color: transparent;
	border-radius: 10px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 19px;
}

#pu1043
{
	width: 0.01px;
	margin-left: 28px;
	margin-top: 47px;
}

#u1043
{
	z-index: 126;
	width: 488px;
	border-width: 3px;
	border-style: solid;
	border-color: #8C6239;
	background-color: #E5A001;
	padding-bottom: 127px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: -1px;
}

#u1051-7
{
	z-index: 225;
	width: 365px;
	min-height: 149px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 144px;
	left: 45px;
}

#u1044
{
	z-index: 134;
	width: 485px;
	border-width: 3px;
	border-style: solid;
	border-color: #8C6239;
	background-color: #E5A001;
	padding-bottom: 126px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 576px;
}

#u1052-7
{
	z-index: 232;
	width: 386px;
	min-height: 148px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 144px;
	left: 53px;
}

#pu1039
{
	width: 0.01px;
	margin-left: 146px;
	margin-top: 16px;
}

#u1039
{
	z-index: 159;
	width: 223px;
	background-color: #D4145A;
	border-radius: 10px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
}

#u1042-4
{
	z-index: 174;
	width: 187px;
	min-height: 40px;
	background-color: transparent;
	border-radius: 10px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 18px;
}

#u1040
{
	z-index: 189;
	width: 236px;
	background-color: #D4145A;
	border-radius: 10px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	left: 595px;
}

#u1041-4
{
	z-index: 203;
	width: 198px;
	min-height: 39px;
	background-color: transparent;
	border-radius: 10px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 19px;
}

#pu1045
{
	width: 0.01px;
	margin-left: 28px;
	margin-top: 43px;
}

#u1045
{
	z-index: 127;
	width: 488px;
	border-width: 3px;
	border-style: solid;
	border-color: #8C6239;
	background-color: #E5A001;
	padding-bottom: 128px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: -1px;
}

#u1053-7
{
	z-index: 239;
	width: 365px;
	min-height: 149px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 144px;
	left: 45px;
}

#u1048
{
	z-index: 135;
	width: 487px;
	border-width: 3px;
	border-style: solid;
	border-color: #8C6239;
	background-color: #E5A001;
	padding-bottom: 127px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 576px;
}

#u1054-7
{
	z-index: 253;
	width: 386px;
	min-height: 148px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 143px;
	left: 43px;
}

#pu1046
{
	width: 0.01px;
	margin-left: 152px;
	margin-top: 16px;
}

#u1046
{
	z-index: 160;
	width: 223px;
	background-color: #D4145A;
	border-radius: 10px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
}

#u936:hover,#u1010:hover,#u1028:hover,#u1039:hover,#u1046:hover
{
	background-color: #FF0000;
	width: 223px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1047-4
{
	z-index: 178;
	width: 187px;
	min-height: 40px;
	background-color: transparent;
	border-radius: 10px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 18px;
}

#u1049
{
	z-index: 190;
	width: 236px;
	background-color: #D4145A;
	border-radius: 10px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	left: 589px;
}

#u934:hover,#u938:hover,#u942:hover,#u1014:hover,#u1031:hover,#u1040:hover,#u1049:hover
{
	background-color: #FF0000;
	width: 236px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1050-4
{
	z-index: 207;
	width: 198px;
	min-height: 39px;
	background-color: transparent;
	border-radius: 10px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 19px;
}

#u1806
{
	z-index: 128;
	width: 488px;
	border-width: 3px;
	border-style: solid;
	border-color: #8C6239;
	background-color: #E5A001;
	padding-bottom: 133px;
	margin-left: 30px;
	margin-top: 45px;
	position: relative;
}

#u1809-7
{
	z-index: 246;
	width: 365px;
	min-height: 149px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 138px;
	left: 42px;
}

#u1033-2,#u1033-4,#u1038-2,#u1038-4,#u1051-2,#u1051-4,#u1052-2,#u1052-4,#u1053-2,#u1053-4,#u1054-2,#u1054-4,#u1809-2,#u1809-4
{
	color: #FFFFFF;
}

#u1807
{
	z-index: 161;
	width: 223px;
	background-color: #D4145A;
	border-radius: 10px;
	padding-bottom: 13px;
	margin-left: 152px;
	margin-top: 17px;
	position: relative;
}

#u1807:hover
{
	background-color: #FF0000;
	width: 223px;
	min-height: 0px;
	margin: 17px 0px 0px 152px;
}

#u1808-4
{
	z-index: 182;
	width: 187px;
	min-height: 40px;
	background-color: transparent;
	border-radius: 10px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-family: Comic Sans, Comic Sans MS, cursive;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 18px;
}

#u1812
{
	z-index: 113;
	width: 1326px;
	height: 4814px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 1822px;
}

#pu883-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 12px;
}

#u883-4
{
	z-index: 105;
	width: 1326px;
	min-height: 51px;
	margin-right: -10000px;
}

#u945-4
{
	z-index: 109;
	width: 622px;
	min-height: 44px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 15px;
}

body
{
	position: relative;
	min-width: 1366px;
	padding-top: 4px;
	padding-bottom: 41px;
}

#page .verticalspacer
{
	clear: both;
}

