#u165
{
	background-color: #8C6239;
	opacity: 0.6699999999999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=66.99999999999999)";
	filter: alpha(opacity=66.99999999999999);
	position: relative;
}

#u166
{
	position: relative;
	background: transparent url("../images/logo%20science.jpg") no-repeat center center;
}

#menuu176
{
	border-style: none;
	border-color: transparent;
	background-color: #D9E021;
	position: relative;
}

#u178
{
	background-color: #8C6239;
	position: relative;
}

#u178:hover
{
	background-color: #FF0000;
}

#u178:active
{
	background-color: #6B6B6B;
}

#u181-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u185
{
	background-color: #8C6239;
	position: relative;
}

#u185:hover
{
	background-color: #FF0000;
}

#u185:active
{
	background-color: #6B6B6B;
}

#u187-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u188
{
	position: relative;
	background: transparent url("../images/arrowmenudown.gif") no-repeat center center;
}

#u185:hover #u188
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u185:active #u188
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u185.MuseMenuActive #u188
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u189
{
	background-color: transparent;
}

#u190
{
	background-color: #8CC63F;
	position: relative;
}

#u190:hover
{
	background-color: #93278F;
}

#u214
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u214:hover
{
	background-color: #AAAAAA;
}

#u216-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
}

#u757
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u757:hover
{
	background-color: #AAAAAA;
}

#u760-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
}

#u772
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u772:hover
{
	background-color: #AAAAAA;
}

#u775-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
}

#u785
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u785:hover
{
	background-color: #AAAAAA;
}

#u787-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
}

#u798
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u798:hover
{
	background-color: #AAAAAA;
}

#u800-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
}

#u811
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u811:hover
{
	background-color: #AAAAAA;
}

#u812-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
}

#u822
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u822:hover
{
	background-color: #AAAAAA;
}

#u824-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
}

#u835
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u835:hover
{
	background-color: #AAAAAA;
}

#u838-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
}

#u848
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u848:hover
{
	background-color: #AAAAAA;
}

#u851-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
}

#u861
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u861:hover
{
	background-color: #AAAAAA;
}

#u863-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
}

#u874
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u874:hover
{
	background-color: #AAAAAA;
}

#u214.MuseMenuActive,#u757.MuseMenuActive,#u772.MuseMenuActive,#u785.MuseMenuActive,#u798.MuseMenuActive,#u811.MuseMenuActive,#u822.MuseMenuActive,#u835.MuseMenuActive,#u848.MuseMenuActive,#u861.MuseMenuActive,#u874.MuseMenuActive
{
	background-color: #666666;
}

#u876-4
{
	background-color: transparent;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
}

#u195
{
	background-color: #8C6239;
	position: relative;
}

#u195:hover
{
	background-color: #FF0000;
}

#u195:active
{
	background-color: #6B6B6B;
}

#u196-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u202
{
	background-color: #8C6239;
	position: relative;
}

#u202:hover
{
	background-color: #FF0000;
}

#u202:active
{
	background-color: #6B6B6B;
}

#u203-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1823,#u177,#u184,#u213,#u756,#u769,#u782,#u795,#u808,#u821,#u834,#u847,#u860,#u873,#u192,#u199,#u206
{
	background-color: transparent;
	position: relative;
}

#u209
{
	background-color: #8C6239;
	position: relative;
}

#u209:hover
{
	background-color: #FF0000;
}

#u209:active
{
	background-color: #6B6B6B;
}

#u178.MuseMenuActive,#u185.MuseMenuActive,#u195.MuseMenuActive,#u202.MuseMenuActive,#u209.MuseMenuActive
{
	background-color: #D4145A;
}

#u211-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u1829
{
	background-color: #FCB040;
	position: relative;
}

#u1819
{
	background-color: #FFFFFF;
	position: relative;
}

#u1812
{
	position: relative;
	background: transparent url("../images/331410.jpg") repeat-y center center;
}

#u883-4
{
	background-color: #8C6239;
	color: #FFFFFF;
	position: relative;
}

#u945-4
{
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	position: relative;
}

